@layout MainLayout
@page "/Home"
<div class="row vh-100">
    <div class="RenderBody-1 col-lg-3  p-0">
        <ChatApp.UI.Pages.LeftOfPage></ChatApp.UI.Pages.LeftOfPage>
    </div>
    <div class="RenderBody-2 col-lg-9 d-none d-lg-block p-0">
        <div class="container vh-100  d-flex justify-content-center align-items-center">
            <div class="row text-center mb-5 pb-5">
                <div class="d-flex justify-content-center mb-5">
                    <img class="d-flex " src="../icons8-chat-100.png" />
                </div>
                <h4 style="color:ghostwhite;">ChatApp</h4>
                <h6 style="color:gray;" class="">Mesajlarına tarayıcı aracılığıyla her yerden erişebilirsin.</h6>
                <h6 style="color:gray;">Bu uygulamanın kaynak kodlarına <a style="color:#ff8c00;" href="">buradan</a> ulaşabilirsin.</h6>
                <h6 style="color:gray;" class="text-danger">Bu uygulama sürekli kullanıma uygun değildir.</h6>
            </div>
        </div>


    </div>
</div>

@code {

}
